@(message: String, style: String = "scala")(implicit assetsFinder: AssetsFinder) @main("Shopping Cart"){ <link rel="stylesheet" media="screen" href="@assetsFinder.path("stylesheets/main.css")"> <link rel="shortcut icon" type="image/png" href="@assetsFinder.path("images/favicon.png")">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet" />

} @defining(play.core.PlayVersion.current) { version =>
<div class="container">
  <div id="content" class="navbar">
    <div class="logo"><img src="@routes.Assets.versioned("images/logo.png")" width="125px" alt=""></div>
    <nav class="navBar">
      <ul id="MenuItems">
        <li><a href="javascript:void(0);" id="toHome">Home</a></li>
        <li><a href="javascript:void(0);" id="toProducts">Products</a></li>
        <li><a href="javascript:void(0);">About</a></li>
        <li><a href="javascript:void(0);">Contact</a></li>
        <li><a href="javascript:void(0);" id="toCart">MyCart</a></li>
      </ul>
    </nav>
    <img src="@routes.Assets.versioned("images/cart.png")" width = 30px height = 30px" alt="" > <img src="@routes.Assets.versioned("images/menu.png")" class="menu-icon" onclick= "menutoggle()">
  </div>
</div>

<div class="small-container cart-page">
  <table>
    <tr>
      <th>Product</th>
      <th>Quantity</th>
      <th>Subtotal</th>
    </tr>
    <tr>
      <td>
        <div class="cart-info">
          <img src="@routes.Assets.versioned("images/buy-1.jpg")">
          <div>
            <p>Red Printed T-shirt</p>
            <small>Price:$50.00</small>
            <br />
            <a href="javascript:void(0);">Remove</a>
          </div>
        </div>
      </td>
      <td><input type="number" value="1" min="0" class="number" /></td>
      <td class="subTotal">$50.00</td>
    </tr>
    <tr>
      <td>
        <div class="cart-info">
          <img src="@routes.Assets.versioned("images/buy-3.jpg")">
          <div>
            <p>Black Jean</p>
            <small>Price: $30.00</small>
            <br />
            <a href="javascript:void(0);">Remove</a>
          </div>
        </div>
      </td>
      <td><input type="number" value="1" min="0" class="number" /></td>
      <td class="subTotal">$30.00</td>
    </tr>
    <tr>
      <td>
        <div class="cart-info">
          <img src="@routes.Assets.versioned("images/buy-2.jpg")">
          <div>
            <p>Designer Trainers</p>
            <small>Price: $70.00</small>
            <br />
            <a href="javascript:void(0);">Remove</a>
          </div>
        </div>
      </td>
      <td><input type="number" value="1" min="0" class="number" /></td>
      <td class="subTotal">$70.00</td>
    </tr>
  </table>

  <div class="total-price">
    <table>
      <tr>
        <td>Total</td>
        <td id="totalPrice">$150.00</td>
      </tr>
    </table>
  </div>
</div>
}
